<%- include('./fragments/header.ejs') %>
<main>
    <h2>
        Strona glowna
    </h2>
    <p>System do zarządzania pracownikami</p>
</main>
<footer>
    Aleksandra Tomasiewicz s20777
</footer>

</body>
</html>


