<%- include('./fragments/header.ejs') %>
<main>
    <h2>
        Strona testowa
    </h2>
    <p>System do zarządzania pracownikami</p>
</main>
<%- include('./fragments/footer.ejs') %>

</body>
</html>



