<%- include('../../fragments/header.ejs') %>
<main>
    <h2>
        Szczegóły pracownika
    </h2>
    <table class="table-list">
        <thead>
        <tr>
            <th>Imie</th>
            <th>Nazwisko</th>
            <th>E-mail</th>
            <th>Nazwa</th>
            <th>Budżet</th>
            <th>Data od</th>
            <th>Data do</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>Ola</td>
            <td>Kowalska</td>
            <td>ola.kowalska@pjwstk.edu.pl</td>
            <td>AUC</td>
            <td>1236000 tys</td>
            <td>2020-02-03</td>
            <td>2022-12-30</td>
        </tr>
        </tbody>
    </table>
    <p>
        <a href="/employees/add" class="button-add">Dodaj nowego pracownika</a>

    </p>
</main>
<footer>
    Aleksandra Tomasiewicz s20777
</footer>

</body>
<script>
    window.setMobileTable("table")
</script>
</html>