<!DOCTYPE html>
<html lang="pl-PL">
<head>
    <meta charset="UTF-8">
    <title>Lista wiele-do-wielu</title>
    <link rel="stylesheet" href="../../../public/css/style.css"/>
</head>
<body>
<h1>HR Department</h1>
<header>
    <nav>
        <ul>
            <li><a href="../../index.ejs">Strona glowna</a>
            <li><a href="../employee/list.ejs">Pracownicy</a>
            <li><a href="../department/list.html">Departamenty</a>
            <li><a href="list.html">Zatrudnienie</a>
        </ul>
    </nav>
</header>
<main>
    <h2>Szczegóły zatrudnienia</h2>
    <form class="form">
        <label for="firstName">Imię: </label>
        <input type="text" id="firstName" value="Ola" disabled/>
        <span id="errorFirstName"></span>

        <label for="lastName">Nazwisko:</label>
        <input type="text" id="lastName" value="Kowalska" disabled/>
        <span id="errorlastName"></span>

        <label for="email">Email: </label>
        <input type="text" id="email" value="ola.kowalska@pjwstk.edu.pl" disabled/>
        <span id="erroremail"></span>

        <label for="salary">Wynagrodzenie: </label>
        <input type="text" id="salary" value="5000" disabled/>
        <span id="errorSalary"></span>

        <label for="Start">Start:</label>
        <input type="text" id="Start" value="2022-03-03" disabled/>
        <span id="errorStart"></span>

        <label for="Finish">Koniec:</label>
        <input type="text" id="Finish" value="2023-03-03" disabled/>
        <span id="errorFinish"></span>

        <div class="form-buttons">
            <a href="form-edit.html" class="form-button-cancel">Edytuj</a>
            <input type="submit" value="Dodaj" class="form-button-submit"/>
            <a href="list.html" class="form-button-cancel">Anuluj</a>
        </div>
    </form>
    <p>

    </p>

</main>
<footer>
    Aleksandra Tomasiewicz s20777
</footer>

</body>
</html>


