<%- include('../../fragments/header.ejs') %>


<main>
        <h2>
            Uzytkownik został usuniety
        </h2>
        <table class="table-list">
            <thead>
            <tr>
                <th>Imie</th>
                <th>Nazwisko</th>
                <th>E-mail</th>
                <th>Akcje</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>Ola</td>
                <td>Kowalska</td>
                <td>ola.kowalska@pjwstk.edu.pl</td>
                <td>
                    <ul class="list-actions">
                        <li>
                            <a href="" class="list-actions-button-delete">Usuń</a>
                        </li>
                    </ul>
            </tr>
            <tr>
                <td>Kasia</td>
                <td>Borys</td>
                <td>kasia.borys@pjwstk.edu.pl</td>
                <td>

                    <ul class="list-actions">
                        <li>
                            <a href="" class="list-actions-button-delete">Usuń</a>
                        </li>
                    </ul>
            </tr>
            </tbody>
        </table>
    </main>
    <footer>
        Aleksandra Tomasiewicz s20777
    </footer>

</header>

</body>
</html>


