<!DOCTYPE html>
<html lang="pl-PL">
<head>
    <meta charset="UTF-8">
    <title>Demo Test</title>
    <link rel="stylesheet" href="../../../public/css/style.css"/>
</head>
<body>
<h1>
    HR Department
</h1>

<header>
    <nav>
        <ul>
            <li><a href="../../index.ejs">Strona glowna</a>
            <li><a href="list.ejs">Pracownicy</a>
            <li><a href="../department/list.html">Departamenty</a>
            <li><a href="../employment/list.html">Zatrudnienie</a>
        </ul>
    </nav>
    <h2>
        Lista pracownikow
    </h2>
    <main>
        <table class="table-list">
            <thead>
            <tr>
                <th>Imie</th>
                <th>Nazwisko</th>
                <th>E-mail</th>
                <th>Akcje</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>Ola</td>
                <td>Kowalska</td>
                <td>ola.kowalska@pjwstk.edu.pl</td>
                <td>
                    <ul class="list-actions">
                        <li>
                            <a href="" class="list-actions-button-delete">Usuń</a>
                        </li>
                    </ul>
            </tr>
            <tr>
                <td>Kasia</td>
                <td>Borys</td>
                <td>kasia.borys@pjwstk.edu.pl</td>
                <td>

                    <ul class="list-actions">
                        <li>
                            <a href="" class="list-actions-button-delete">Usuń</a>
                        </li>
                    </ul>
            </tr>
            </tbody>
        </table>
    </main>
    <footer>
        Aleksandra Tomasiewicz s20777
    </footer>

</header>

</body>
</html>


