<!DOCTYPE html>
<html lang="pl-PL">
<head>
    <h1>
        System do zarządzania pracownikami
    </h1>
    <meta charset="UTF-8">
    <title>Demo Test</title>
    <link rel="stylesheet" href="/css/style.css">
    <meta name="viewport" content="width=device-width,initial-scale=1"/>
    <script src="../../../public/js/validationCommon.js"></script>
    <script src="../../../public/js/validationEmpForm.js"></script>
</head>
<body>
<header>

    <img src="images/logo.png" alt="Demo Test">

    <nav>
        <ul>
            <li><a href="../../index.ejs">Strona glowna</a>
            <li><a href="list.ejs">Pracownicy</a>
            <li><a href="../department/list.ejs">Departamenty</a>
            <li><a href="../employment/list.ejs">Zatrudnienie</a>
        </ul>
    </nav>
</header>
<main>


    <h2>
        Nowy pracownik
    </h2>
    <form class="form" novalidate onsubmit="validateForm(event);">
        <label for="firstName">Imię: <span class="symbol-required">*</span></label>
        <input type="text" name="firstName" id="firstName" placeholder="2-60 znaków"/>
        <span id="errorFirstName"></span>

        <label for="lastName">Nazwisko: <span class="symbol-required">*</span></label>
        <input type="text" name="lastName" id="lastName" placeholder="2-60 znaków" required/>
        <span id="errorlastName"></span>

        <label for="email">Email: <span class="symbol-required">*</span></label>
        <input type="text" name="email" id="email" placeholder="2-60 znaków" required/>
        <span id="erroremail"></span>

        <span id="errorsSummary"></span>

        <div class="form-buttons">

            <input type="submit" value="Dodaj" class="form-button-submit"/>
            <a href="list.ejs" class="form-button-cancel">Anuluj</a>
        </div>


    </form>

</main>
<footer>
    Aleksandra Tomasiewicz s20777
</footer>


</body>
</html>


