<!DOCTYPE html>
<html lang="pl-PL">
<head>
        <h1>
        HR Department
    </h1>
    <meta charset="UTF-8">
    <title>Demo Test</title>
    <link rel="stylesheet" href="/css/style.css">
    <script src="../../../public/js/validationCommon.js"></script>
    <script src="../../../public/js/validationEmpForm.js"></script>
</head>
<body>
<header>
    <nav>
        <ul>
            <li><a href="../../index.ejs">Strona glowna</a>
            <li><a href="list.ejs">Pracownicy</a>
            <li><a href="../department/list.ejs">Departamenty</a>
            <li><a href="../employment/list.ejs">Zatrudnienie</a>
        </ul>
    </nav>
    </header>

    <main>
        <h2>
            Edycja pracownik
        </h2>
        <form class="form">
            <label for="firstName">Imię: <span class="symbol-required">*</span></label>
            <input type="text" id="firstName"  value="Ola" disabled/>
            <span id="errorFirstName"></span>

            <label for="lastName">Nazwisko: <span class="symbol-required">*</span></label>
            <input type="text" id="lastName" value="Kowalska" disabled/>
            <span id="errorlastName"></span>

            <label for="email">Email: <span class="symbol-required">*</span></label>
            <input type="text" id="email" value="ola.kowalska@pjwstk.edu.pl" disabled/>
            <span id="erroremail"></span>

            <div class="form-buttons">
                <input type="submit" value="Dodaj" class="form-button-submit"/>
                <a href="list.ejs" class="form-button-cancel">Anuluj</a>
            </div>

        </form>

    </main>
    <footer>
        Aleksandra Tomasiewicz s20777
    </footer>


</body>
</html>