<!DOCTYPE html>
<html lang="pl-PL">
<head>
    <meta charset="UTF-8">
    <title>Demo Test</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<header>
    <h1>
        HR Department
    </h1>
    <img src="images/logo.png" alt="Demo Test">

    <nav>
        <ul>
            <li><a href="../../index.ejs">Strona glowna</a>
            <li><a href="list.ejs">Pracownicy</a>
            <li><a href="../department/list.ejs">Departamenty</a>
            <li><a href="../employment/list.ejs">Zatrudnienie</a>
        </ul>
    </nav>
    </header>
    <main>

        <h2>
            Lista pracownikow
        </h2>
        <p>
            Brak rekordów do wyświetlenia.
        </p>

        <p>
            <a href="form.ejs">Dodaj nowego pracownika</a>
        </p>
    </main>
    <footer>
        Aleksandra Tomasiewicz s20777
    </footer>



</body>
</html>


