<!DOCTYPE html>
<html lang="pl-PL">
<head>
    <meta charset="UTF-8">
    <title>Demo Test</title>
    <link rel="stylesheet" href="/css/style.css">
    <meta name="viewport" content="width=device-width,initial-scale=1" />
</head>
<body>
<header>
    <h1>
        System do zarządzania pracownikami
    </h1>
    <img src="/images/logo.png" alt="Demo Test">
</header>
<nav>
    <ul>
        <li><a href="pages/employee/list.ejs" class="active">Pracownicy</a>
        <li><a href="pages/department/list.html">Departamenty</a>
        <li><a href="pages/employment/list.html">Zatrudnienia</a>
    </ul>
</nav>