<!DOCTYPE html>
<html lang="pl-PL">
<head>
    <meta charset="UTF-8">
    <title>Demo Test</title>
    <link rel="stylesheet" href="/css/style.css">
    <meta name="viewport" content="width=device-width,initial-scale=1" />

</head>
<body>
<header>
    <h1>
        System do zarządzania pracownikami
    </h1>
    <img src="/images/logo.png" alt="Demo Test">
</header>
<nav>
    <ul>
        <li><a href="/" class="<%= navLocation == 'main' ? 'active' : '' %>">Strona główna</a></li>
        <li><a href="/employees" class="<%= navLocation == 'emp' ? 'active' : '' %>">Pracownicy</a>
        <li><a href="/departments" class="<%= navLocation == 'dept' ? 'active' : '' %>">Departamenty</a>
        <li><a href="/employments" class="<%= navLocation == 'employment' ? 'active' : '' %>">Zatrudnienia</a>
    </ul>
</nav>