<%- include('../../fragments/header.ejs') %>
<main>
    <h2>
        Szczegóły departamentu
    </h2>

    <table class="table-list">
        <thead>
        <tr>
            <th>Nazwa</th>
            <th>Budżet</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>AUC</td>
            <td>1236000 tys</td>
        </tr>
        </tbody>
    </table>

    <h2>
        Szczegóły zatrudnienia
    </h2>

    <table class="table-list">
        <thead>
        <tr>
            <th>Imie</th>
            <th>Nazwisko</th>
            <th>E-mail</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>Ola</td>
            <td>Kowalska</td>
            <td>ola.kowalska@pjwstk.edu.pl</td>
        </tr>
        </tbody>
    </table>


    <p>
        <a href="/employees/add" class="button-add">Dodaj nowy departament</a>

    </p>
</main>
<footer>
    Aleksandra Tomasiewicz s20777
</footer>

</body>
<script>
    window.setMobileTable("table")
</script>
</html>