<!DOCTYPE html>
<html lang="pl-PL">
<head>
    <meta charset="UTF-8">
    <title>Demo Test</title>
    <link rel="stylesheet" href="../../../public/css/style.css"/>
</head>
<body>
<header>

    <img src="../../../public/images/logo.png" alt="Demo Test">

    <nav>
        <ul>
            <li><a href="../../index.ejs">Strona glowna</a>
            <li><a href="../employee/list.ejs">Pracownicy</a>
            <li><a href="list.ejs">Departamenty</a>
            <li><a href="../employment/list.ejs">Zatrudnienie</a>
        </ul>
    </nav>
    </header>
    <main>
        <h2>
            Nowy pracownik
        </h2>
        <form>
            <label for="name" class="color-label">Nazwa: *</label>
            <input type="text" name="name" id="name" required/>
            <span id="errorfirstName" class="errors-text">Pole jest wymagane</span>

            <label for="budget" class="color-label">Budzet: *</label>
            <input type="text" name="budget" id="budget" required/>
            <span id="errorlastName" class="errors-text">Pole jest wymagane</span>


            <div>
                <p id="errorSummary" class="errors-text">Formularz zawiera błędy</p>
                <input type="submit" value="Dodaj"class="form-button-submit" />
                <a href="../employee/list.ejs" class="form-button-cancel">Anuluj</a>
            </div>

        </form>

    </main>
    <footer>
        Aleksandra Tomasiewicz s20777
    </footer>




</body>
</html>