<!DOCTYPE html>
<html lang="pl-PL">
<head>
    <h1>System do zarządzania pracownikami</h1>
    <meta charset="UTF-8">
    <title>Edytowanie departamentu</title>
    <link rel="stylesheet" href="../../../public/css/style.css"/>
</head>
<body>
<header>
    <nav>
        <ul>
            <li><a href="../../index.ejs">Strona glowna</a>
            <li><a href="../employee/list.ejs">Pracownicy</a>
            <li><a href="list.ejs">Departamenty</a>
            <li><a href="../employment/list.ejs">Zatrudnienie</a>
        </ul>
    </nav>
    </header>
    <main>
        <h2>
            Edycja departamentu
        </h2>
        <form class="form">
            <label for="firstName">Nazwa: <span class="symbol-required">*</span></label>
            <input type="text" name="firstName" id="firstName" value="HR" required/>
            <span id="errorFirstName"></span>

            <label for="lastName">Budżet: <span class="symbol-required">*</span></label>
            <input type="text" name="lastName" id="lastName"  value="3000"required/>
            <span id="errorlastName"></span>

            <div class="form-buttons">
                <input type="submit" value="Dodaj" class="form-button-submit"/>
                <a href="list.ejs" class="form-button-cancel">Anuluj</a>
            </div>
        </form>
    </main>
    <footer>
        Aleksandra Tomasiewicz s20777
    </footer>

</body>
</html>