<%- include('../../fragments/header.ejs') %>

<main>
        <h2>
            Edycja departamentu
        </h2>
        <form class="form">
            <label for="name">Nazwa: <span class="symbol-required">*</span></label>
            <input type="text" name="name" id="name" value="HR" required/>
            <span id="errorDeptName"></span>

            <label for="budget">Budżet: <span class="symbol-required">*</span></label>
            <input type="text" name="budget" id="budget"  value="3000"required/>
            <span id="errorBudget"></span>

            <div class="form-buttons">
                <input type="submit" value="Dodaj" class="form-button-submit"/>
                <a href="list.ejs" class="form-button-cancel">Anuluj</a>
            </div>
        </form>
    </main>
    <footer>
        Aleksandra Tomasiewicz s20777
    </footer>

</body>
</html>