<!DOCTYPE html>
<html lang="pl-PL">
<head>
    <meta charset="UTF-8">
    <title>Demo Test</title>
    <link rel="stylesheet" href="../../../public/css/style.css"/>
    <script src="../../../public/js/responsibleTable.js"></script>
</head>
<body>
<h1>
    System do zarządzania pracownikami
</h1>

<header>

    <nav>
        <ul>
            <li><a href="../../index.ejs">Strona glowna</a>
            <li><a href="../employee/list.ejs">Pracownicy</a>
            <li><a href="list.html">Departamenty</a>
            <li><a href="../employment/list.html">Zatrudnienie</a>

        </ul>

    </nav>
</header>
    <h2>
        Lista departamentów
    </h2>
    <main>


        <table class="table-list">
            <thead>
            <tr>
                <th>Nazwa</th>
                <th>Budżet</th>
                <th>Akcje</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>HR</td>
                <td>234000 tys</td>
                <td>
                    <ul class="list-actions">
                        <li>
                            <a href="../employment/list.html"
                               class="list-actions-button-details">Szczegóły</a>
                        </li>
                        <li>
                            <a href="form-edit.html"
                               class="list-actions-button-edit">Edytuj</a>
                        </li>
                        <li>
                            <a href="form-delete.html" class="list-actions-button-delete">Usuń</a>
                        </li>
                    </ul>
            </tr>
            <tr>
                <td>AUC</td>
                <td>1236000 tys</td>
                <td>

                    <ul class="list-actions">
                        <li>
                            <a href="../employment/list.html"
                               class="list-actions-button-details">Szczegóły</a>

                        </li>
                        <li>
                            <a href="form-edit.html"
                               class="list-actions-button-edit">Edytuj</a>
                        </li>
                        <li>
                            <a href="form-delete.html" class="list-actions-button-delete">Usuń</a>
                        </li>
                    </ul>
            </tr>
            </tbody>
        </table>

        <p>
            <a href="form.html" class="button-add">Dodaj nowy
                departament</a>
        </p>
    </main>
    <footer>
        Aleksandra Tomasiewicz s20777
    </footer>



</body>
<script >
window.setMobileTable("table")
</script>
</html>


